* {
  margin: 0;
}

.app {
  display: flex;
  background-color: #f2f2f2;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-left {
  display: flex;
  padding: 30px;
}

.app-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  width: 1200px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0;
}

.title {
  font-size: 36px;
  color: #070b31;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user > p {
  font-size: 16px;
  color: #070b31;
  padding: 20px;
}

/* .user > .MuiAvatar-root {
} */

.bottom {
  display: flex;
  grid-template-columns: auto auto;
  flex: 1;
}


